PORT=4000
NODE_ENV=development

DATABASE_URL=postgresql://inflowforge:inflowforge_password@localhost:5432/inflowforge_db
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
ADMIN_TOKEN=change_this_admin_token
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=your_resend_email
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_bot_chat_id